header {
  background-color: #1f2937;
  padding: 10px 150px;
  padding-bottom: 100px;
}

h1 {
  color: #f9faf8;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  padding-left: 24px;
}

.container-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-2 {
  display: flex;
  justify-content: space-between;
  height: 200px;
  gap: 50px;
  padding-top: 100px;
}

.image {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  color: #f9faf8;
}

.hero-main {
  font-size: 48px;
  font-weight: 1000;
  color: #f9faf8;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
  font-size: 15px;
  padding: 5px 20px;
  font-weight: 700;
}

section.first {
  padding: 10px 150px;
  padding-top: 30px;
}

.random {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}

.container-section-1 {
  display: flex;
  flex-direction: column;
}
.container-section-2 {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.border {
  border-style: solid;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border-color: #3882f6;
  margin-top: 50px;
}

.container-section-3 {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-top: 15px;
  margin-bottom: 100px;
}

.under-border {
  color: #1f2937;
  text-align: center;
  font-size: 16px;
  width: 155px;
}

article {
  background-color: #e5e7eb;
  padding: 100px 150px;
}

p {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.signature {
  text-align: end;
  font-size: 24px;
  color: black;
  font-weight: 700;
}

section.second {
  padding: 10px 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container-section-1-1 {
  display: flex;
  background-color: #3882f6;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-radius: 10px;
  gap: 400px;
}

.call {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.product {
  color: #e5e7eb;
}

button.sign-up {
  border-style: solid;
  border-color: #f9faf8;
  padding: 5px 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  height: 100px;
}

p.foot {
  color: #f9faf8;
  font-size: 18px;
}
